*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: white;
    font-size: 1.3rem;
}

.nav-item a{
    color: white;
    font-size: 1.9rem;
}

.nav-item a:hover{
    color: skyblue;
}


.content img{
    border: #1D212B solid 3px;
    margin-left: 43px;
}

section {
    transition: filter 0.5s; /* Geçiş efektinin süresi */
}

section:not(:hover) {
    filter: blur(1px); 
}


section:hover {
    filter: none; /* Mouse bir sectionun üzerine gelindiğinde bulanıklık kaldırılır */
    background-color: #ccc; /* Mouse bir sectionun üzerine gelindiğinde arka plan rengi maviye dönüşür */
    transform: scale(1.02);
}




section {
    border-top: 1px solid #ccc; /* Her section'ın üstünde ince bir çizgi oluşturur */
    margin-top: 40px; /* İçerikle çizgi arasındaki boşluğu arttırır */
}

section:first-child {
    border-top: none; /* İlk section'ın üstündeki çizgiyi kaldırır */
    padding-top: 0; /* İçerikle çizgi arasındaki boşluğu sıfırlar */
    margin-top: 0; /* İçerikle çizgi arasındaki boşluğu sıfırlar */
}




.content {
    display: flex; /* İçerikleri yan yana hizalar */
    align-items: center; /* Dikey hizalamayı ortalar */
    margin-top: 20px; /* İsteğe bağlı: içeriği yukarı itme */
}

.content img {
    flex: 0 0 auto; /* Resmin boyutunu sabitler */
    margin-right: 30px; /* Yazı ile resim arasındaki boşluğu ayarlar */
}

.text {
    flex: 1; /* Yazının genişliğini doldurur */
}


main h1{
    margin-left: 36px;
    color: #1D212B;
    margin-top: 40px;
}

.container h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 25px;
}

.nav-item {
    border-right: 1px solid white;
    padding-right: 10px; /* İsteğe bağlı: metin ve çizgi arasındaki mesafeyi ayarlar */
}

/* Son nav-item'in sağında çizgi olmaması için */
.nav-item:last-child {
    border-right: none;
}

.navbar-brand,
.navbar-nav .nav-link:hover {
    font-size: 1.9rem;
    color: skyblue;
}

body {
    background-color: #1D212B; /* Navbar ile aynı renk */
    color: white; /* Metin rengi beyaz */
}

header{
    background-color: #1D212B;
}

footer{
    background-color: #1D212B;
    height: 100px;
    text-align: center
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.footer-icons a {
    margin: 0 10px;
    background-color: #1D212B; /* Footer arka plan rengi */
    padding: 10px; /* İkonlara kenar boşluğu eklemek için */
    border-radius: 50%; /* İkonlara yuvarlak köşe vermek için */
}

.footer-icons img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}


/* Tablet için medya sorgusu */
@media (max-width: 768px) {
    .content {
        flex-direction: column; /* İçeriği dikey hizalamak için */
        margin-top: 20px;
    }


    main {
        padding: 0 20px; /* Ana içeriğin sol ve sağında boşluk bırakmak için */
    }
    
    .content img {
        margin-right: 0; /* Resimlerin sağında boşluk bırakmamak için */
        margin-bottom: 20px; /* Resimlerin altında boşluk bırakmak için */
    }

    .text {
        margin-bottom: 20px; /* Yazıların altında boşluk bırakmak için */
    }

    section {
        margin-top: 20px; /* Bölümler arasında boşluk bırakmak için */
    }

    main h1 {
        margin-left: 0; /* Başlıkların solunda boşluk bırakmamak için */
    }

    .nav-item {
        border-right: none; /* Navigasyon bağlantılarının sağında çizgi olmaması için */
        padding-right: 0; /* Navigasyon bağlantıları ve çizgi arasındaki mesafeyi kaldırmak için */
    }

    .footer-icons {
        flex-direction: row; /* İkonları yatay hizalamak için */
    }

    .footer-icons a {
        margin: 0 5px; /* İkonlar arasındaki boşluğu azaltmak için */
    }

    
    .navbar-nav {
        flex-direction: column; /* Bağlantıları dikey hizalamak için */
    }

    .nav-item {
        border-right: none; /* Çizgiyi kaldırmak için */
        padding-right: 0; /* Sağdaki boşluğu kaldırmak için */
        margin-bottom: 10px; /* Bağlantılar arasında boşluk bırakmak için */
        text-align: center; /* Bağlantıları yatayda da ortala */
    }

    .navbar-brand {
        text-align: center; /* Markayı yatayda da ortala */
        margin-bottom: 10px; /* Marka ile bağlantılar arasında boşluk bırakmak için */
    }
}

/* Telefon için medya sorgusu */
@media (max-width: 576px) {
    main h1 {
        font-size: 1.5rem; /* Başlıkların boyutunu küçültmek için */
        text-align: center; /* Başlıkları ortalamak için */
    }
    
    .content img {
        width: 100%; /* Resimlerin genişliğini ayarlamak için */
        margin-left: 0; /* Resimlerin solunda boşluk bırakmamak için */
        margin-bottom: 20px; /* Resimlerin altında boşluk bırakmak için */
    }

    .text {
        text-align: justify; /* Metni yatayda düzgün hizalamak için */
    }

    footer {
        height: auto; /* Footer yüksekliğini otomatik olarak ayarlamak için */
        padding: 20px 0; /* Footer içeriği ile kenar boşlukları ayarlamak için */
    }

}
