/* Spor, Dans, Kendim ve Fener yazılarının beyaz renkte olması */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: white;
    font-size: 1.3rem;
}

.nav-item {
    border-right: 1px solid white;
    padding-right: 10px; /* İsteğe bağlı: metin ve çizgi arasındaki mesafeyi ayarlar */
}

/* Son nav-item'in sağında çizgi olmaması için */
.nav-item:last-child {
    border-right: none;
}

.navbar-brand,
.navbar-nav .nav-link:hover {
    font-size: 1.9rem;
    color: greenyellow;
}

body {
    background-color: #1D212B; /* Navbar ile aynı renk */
    color: white; /* Metin rengi beyaz */
}

header{
    background-color: #1D212B;
}

table-container {
    display: flex;
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #007bff;
    color: white;
}

td img{
    width: 20px;
}

.content {
    display: flex;
    align-items: center; /* İçeriği dikey olarak hizalama */
}



.text {
    margin-left: 20px; /* Metnin fotoğraftan sağa kayması */
    flex-grow: 1; /* Metnin fotoğraftan boşluksuz olarak geri kalan yere yayılması */
}


.container h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 25px;
}

#tarihçe{
    margin-bottom: 20px;
    margin-top: 20px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7); /* Arka plan rengi */
    color: white; /* Metin rengi */
    border-radius: 5px; /* Kenar yuvarlatma */
    position: absolute; /* Mutlak konumlandırma */
    right: 0; /* Sağa hizalama */
    bottom: 0; /* Alta hizalama */
    left: 0; /* Sola hizalama */
    padding: 15px; /* İç içe boşluk */
    opacity: 0; /* Başlangıçta görünmez */
    transition: opacity 0.5s; /* Geçiş efekti */
}

.carousel-item:hover .carousel-caption {
    opacity: 1; /* Üzerine gelindiğinde görünür hale getir */
}

.carousel-item img {
    max-width: 1200px; /* Maksimum genişlik */
    max-height: 600px; /* Maksimum yükseklik */
}


.technician {
    transition: filter 0.3s ease;
}

.technician-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: cyan;
    font-size: 16px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.technician:hover {
    filter: blur(5px);
}

.technician:hover + .technician-name {
    opacity: 1;
}

#teknikekip img {
    margin-bottom: 40px; /* Teknik ekip fotoğrafları ile alt sınır arasında 10px boşluk bırak */
}


/* Telefon ve tablet çözünürlükleri için medya sorguları */
@media (max-width: 768px) {
    /* Navbar bağlantıları */
    .navbar-nav .nav-link {
        padding: 10px; /* Bağlantıların daha iyi görünmesi için padding ayarı */
    }

    /* Carousel içindeki metinlerin stil ayarları */
    .carousel-caption {
        font-size: 14px; /* Metin boyutunu küçült */
        padding: 10px; /* İç içe boşluk ayarı */
    }

    /* Tablo içeriği */
    table {
        font-size: 12px; /* Tablo içeriğinin boyutunu küçült */
    }

/* Stadyum ve Taraftarlar bölümü için özel CSS */
#stadyum .content {
    position: relative; /* İçerik ve fotoğrafın konumunu belirlemek için */
}

#stadyum .content:hover img {
    filter: blur(5px); /* Fotoğrafı blurla */
}

#stadyum .content .text {
    position: absolute; /* Metni fotoğrafın içine konumlandırmak için */
    top: 50%; /* Yükseklik açısından ortala */
    left: 50%; /* Genişlik açısından ortala */
    transform: translate(-50%, -50%); /* Tam ortalamak için */
    z-index: 1; /* Metni fotoğrafın önüne getir */
    opacity: 0; /* Başlangıçta görünmez */
    max-width: 90%; /* Maksimum genişlik */
    max-height: 90%; /* Maksimum yükseklik */
    overflow: auto; /* Metin boyutu fotoğraf boyutunu aşarsa kaydırma çubuğu göster */
    padding: 15px; /* İç içe boşluk */
    background-color: rgba(0, 0, 0, 0.7); /* Arka plan rengi */
    color: white; /* Metin rengi */
    border-radius: 5px; /* Kenar yuvarlatma */
    text-align: center; /* Metni ortala */
    transition: opacity 0.3s ease; /* Geçiş efekti */
}

#stadyum .content:hover .text {
    opacity: 1; /* Üzerine gelince metni görünür hale getir */
}



}

/* Ekstra küçük cihazlar (telefonlar, 576px ve altı genişlik) */
@media (max-width: 576px) {


    /* Navbar logo boyutu */
    .navbar-brand img {
        width: 100px; /* Logo boyutunu küçült */
    }

    /* Carousel içindeki metinlerin stil ayarları */
    .carousel-caption {
        font-size: 12px; /* Metin boyutunu daha da küçült */
        padding: 8px; /* İç içe boşluk ayarını azalt */
    }

    /* Tablo içeriği */
    table {
        font-size: 10px; /* Tablo içeriğinin boyutunu daha da küçült */
    }
/* Stadyum ve Taraftarlar bölümü için özel CSS */
#stadyum .content {
    position: relative; /* İçerik ve fotoğrafın konumunu belirlemek için */
}

#stadyum .content:hover img {
    filter: blur(5px); /* Fotoğrafı blurla */
}

#stadyum .content .text {
    position: absolute; /* Metni fotoğrafın içine konumlandırmak için */
    top: 50%; /* Yükseklik açısından ortala */
    left: 50%; /* Genişlik açısından ortala */
    transform: translate(-50%, -50%); /* Tam ortalamak için */
    z-index: 1; /* Metni fotoğrafın önüne getir */
    opacity: 0; /* Başlangıçta görünmez */
    max-width: 90%; /* Maksimum genişlik */
    max-height: 90%; /* Maksimum yükseklik */
    overflow: auto; /* Metin boyutu fotoğraf boyutunu aşarsa kaydırma çubuğu göster */
    padding: 15px; /* İç içe boşluk */
    background-color: rgba(0, 0, 0, 0.7); /* Arka plan rengi */
    color: white; /* Metin rengi */
    border-radius: 5px; /* Kenar yuvarlatma */
    text-align: center; /* Metni ortala */
    transition: opacity 0.3s ease; /* Geçiş efekti */
}

#stadyum .content:hover .text {
    opacity: 1; /* Üzerine gelince metni görünür hale getir */
}

}


@media (max-width: 992px){
    /* Stadyum ve Taraftarlar bölümü için özel CSS */
#stadyum .content {
    position: relative; /* İçerik ve fotoğrafın konumunu belirlemek için */
}

#stadyum .content:hover img {
    filter: blur(5px); /* Fotoğrafı blurla */
}

#stadyum .content .text {
    position: absolute; /* Metni fotoğrafın içine konumlandırmak için */
    top: 50%; /* Yükseklik açısından ortala */
    left: 50%; /* Genişlik açısından ortala */
    transform: translate(-50%, -50%); /* Tam ortalamak için */
    z-index: 1; /* Metni fotoğrafın önüne getir */
    opacity: 0; /* Başlangıçta görünmez */
    max-width: 90%; /* Maksimum genişlik */
    max-height: 90%; /* Maksimum yükseklik */
    overflow: auto; /* Metin boyutu fotoğraf boyutunu aşarsa kaydırma çubuğu göster */
    padding: 15px; /* İç içe boşluk */
    background-color: rgba(0, 0, 0, 0.7); /* Arka plan rengi */
    color: white; /* Metin rengi */
    border-radius: 5px; /* Kenar yuvarlatma */
    text-align: center; /* Metni ortala */
    transition: opacity 0.3s ease; /* Geçiş efekti */
}

#stadyum .content:hover .text {
    opacity: 1; /* Üzerine gelince metni görünür hale getir */
}
}

@media (max-width: 1200px){
    /* Stadyum ve Taraftarlar bölümü için özel CSS */
#stadyum .content {
    position: relative; /* İçerik ve fotoğrafın konumunu belirlemek için */
}

#stadyum .content:hover img {
    filter: blur(5px); /* Fotoğrafı blurla */
}

#stadyum .content .text {
    position: absolute; /* Metni fotoğrafın içine konumlandırmak için */
    top: 50%; /* Yükseklik açısından ortala */
    left: 50%; /* Genişlik açısından ortala */
    transform: translate(-50%, -50%); /* Tam ortalamak için */
    z-index: 1; /* Metni fotoğrafın önüne getir */
    opacity: 0; /* Başlangıçta görünmez */
    max-width: 90%; /* Maksimum genişlik */
    max-height: 90%; /* Maksimum yükseklik */
    overflow: auto; /* Metin boyutu fotoğraf boyutunu aşarsa kaydırma çubuğu göster */
    padding: 15px; /* İç içe boşluk */
    background-color: rgba(0, 0, 0, 0.7); /* Arka plan rengi */
    color: white; /* Metin rengi */
    border-radius: 5px; /* Kenar yuvarlatma */
    text-align: center; /* Metni ortala */
    transition: opacity 0.3s ease; /* Geçiş efekti */
}

#stadyum .content:hover .text {
    opacity: 1; /* Üzerine gelince metni görünür hale getir */
}
}